In [145]:
import pandas as pd

In [146]:
df1 = pd.read_csv("/content/customer_churn_dataset-training-master.csv")

In [147]:

df = df1.sample(n=4000)

In [148]:
df.head(1)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
216212,221732.0,63.0,Female,2.0,3.0,8.0,13.0,Standard,Annual,116.59,18.0,1.0

Checking the null value in the data

In [149]:
df.isnull().sum()

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

droping the null value from the data

In [150]:
df.dropna(axis=0, how='any', inplace=True)

In [151]:
df.isnull().sum()

CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

In [152]:
df.shape

(4000, 12)

# Data encoding
* One hot encoding (used when the data is in nominal catagorical form)
* ordinal encoding (use when the data is in form of order)
* label encoding (used in the output column)

from the data above we have seen that two colunm contain the ordinal data while the gender column contain the nominal data, so we will apply the transformation accordingly

In [153]:
# we will use the column transfer for this purpose
# spliting the data into the test and train
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [154]:
df.head(1)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
216212,221732.0,63.0,Female,2.0,3.0,8.0,13.0,Standard,Annual,116.59,18.0,1.0

In [155]:
df['Subscription Type'].unique()

array(['Standard', 'Basic', 'Premium'], dtype=object)

In [156]:
df['Contract Length'].unique()

array(['Annual', 'Monthly', 'Quarterly'], dtype=object)

In [157]:
x = df.drop(columns=['Churn'])
y = df['Churn']

In [158]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [159]:
x_train.head(1)

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
325672,332787.0,30.0,Male,37.0,15.0,3.0,6.0,Basic,Quarterly,679.05,12.0

In [160]:
x_train.shape

(3200, 11)

In [161]:

c1 = ColumnTransformer(transformers=[
    ('ordinal encoder' , OrdinalEncoder(categories=[['Basic', 'Standard', 'Premium']]), ['Subscription Type']),
    ("ordinal encoder1 " , OneHotEncoder(handle_unknown="ignore" , sparse_output=False ,  ), ['Gender']),
    ('ordinal encoder 2' , OrdinalEncoder(categories=[[ 'Monthly', 'Quarterly', 'Annual']]) , ['Contract Length'])
], remainder='passthrough')

In [162]:
x_train = c1.fit_transform(x_train)

In [163]:
x_train.shape

(3200, 12)

In [164]:
x_test = c1.transform(x_test)

In [165]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score


# ... (Your existing code) ...

# Initialize LabelEncoder
le = LabelEncoder()
y_train = le.fit_transform(y_train)
y_test = le.transform(y_test)


# Initialize models
models = {
    "Logistic Regression": LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "SVM": SVC(),
    "KNN": KNeighborsClassifier(),
    "Naive Bayes": GaussianNB()
}

# Train and evaluate each model
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name}: {accuracy * 100:.2f}%")

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression: 92.50%
Decision Tree: 98.75%
Random Forest: 99.25%
SVM: 98.75%
KNN: 99.12%
Naive Bayes: 97.50%